* {
    /* background-color: #10243B;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png); */
}

body {
    margin: 0px;
}

nav {
    background-color: #10243B;
    block-size: 50px;
    padding: 25px px 0px 0px;
    vertical-align: middle;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    padding: 5px 10px;
    display: inline;
    vertical-align: middle;
}


#one {
    display: inline;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding: 15px 24vw 20px 0px;
    font-size: 14.5px;
    color: white;
    text-transform: uppercase;
    text-shadow: rgb(51, 51, 51) 0px 2px 3px;
}

#two {
    display: inline;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 15px 0px 20px 0px;
    position: relative;
    font-size: 12.3px;
    color: #a3dde8;
    text-shadow: rgb(51, 51, 51) 0px 2px 3px; 
    text-transform: uppercase;
}

#blue {
    display: inline;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding: 15px 0px 20px 0px;
    position: relative;
    font-size: 12.3px;
    color: white;
    text-shadow: rgb(51, 51, 51) 0px 2px 3px; 
    text-transform: uppercase;
    background-color: #005983;
}

#blue2 {
    display: inline;
    padding: 20px 0px 20px 0px;
    position: relative;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px; 
    background-color: #005983;
}


#hero {
    background-image: url(images/fans.jpg);
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/fans.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* explore */

#explore {
    height: 400px;
    width: 100vw;
    background-color: #10243B;
}

#header {
    text-align: center;
    vertical-align: middle;
    color:  white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
    border-top-color: #10243B;
    border-top-style: solid;
    border-top-width: 19.25px;
    border-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

#exploresection {
    border-top: 8px solid #a3dde8;
    height: 300px;
    width: 100vw;
    margin: 0 0px;
}

.explorebox {
    height: 300px;
    width: 24.5%;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

#ccnn {
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: middle;
}

#patriot {
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: middle;
}

#media {
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

#colleges {
    background-image: url(images/college.png);
    background-size: cover;
    background-position: middle;
}

/* CCHS AT A GLANCE */

#CCHS {
    height: 850px;
    width: 100vw;
    background-color: white;
    margin: 0 0px;
}

#header2 {
    color: #10243B;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow' , sans-serif;
    margin-top: 0;
}

#imagessection {
    height: 400px;
    width: 100vw;
    background-color: white;
    margin: 0px 0px 70px 0px;
}

.glance {
    height: 400px;
    width: 24.5%;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

#money {
    background-image: url(images/carosel\ money.jpg);
    background-size: cover;
    background-position: middle;
}

#hat {
    background-image: url(images/carosel\ graduation.jpg);
    background-size: cover;
    background-position: middle;
}

#book {
    background-image: url(images/book.jpg);
    background-size: cover;
    background-position: middle;
}

#teach {
    background-image: url(images/carosel\ teaching.jpg);
    background-size: cover;
    background-position: middle;
}


.headtext {
    color: #ca0d33;
    font: 30px 'PT Sans Narrow' , sans-serif;
    width: 24.5%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.subtext {
    color: #333333;
    font: 20px 'Open Sans', sans-serif;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#newspace {
    height: 200px;
    width: 100vw;
    background-color: white;
    border-bottom-color: #dfd2b0;
    border-bottom-style: solid;
    border-bottom-width: 1px; 
}

#bluebox {
    height: 150px;
    width: 80vw;
    background-color: #10243B;
    margin: 20px 0px 0px 185px;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);

}

#bluetext {
    color: white;
    font-style: 'PT Sans Narrow' , sans-serif;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 50px;
    padding: 15px 20px 30px;
    text-align: center;
}

/* Schools */

#school {
    height: 400px;
    width: 100vw;
    background-color: white;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/ng.png);
}

#schooltext {
    font-style: 'PT Sans Narrow' , sans-serif;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#schoolbox {
    vertical-align: middle;
    text-align: center;
    padding: 100px 200px 200px 200px;
}

.schools {
    height: 400px;
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

#nc {
    background-image: url(images/northcarolina.png);
    background-size: initial;
    background-position: middle;
    background: no-repeat;
}

#um {
    background-image: url(images/um.png);
    background-size: initial;
    background-position: middle;
    background: no-repeat;
}

#yale {
    background-image: url(images/yale.png);
    background-size: initial;
    background-position: middle;
    background: no-repeat;
}

#mit {
    background-image: url(images/mit.png);
    background-size: initial;
    background-position: middle;
    background: no-repeat;
}