body {
    margin: 0px;
}

na{
    background-color: #10243B;
    block-size: 50px;
    padding: 25px px 0px 0px;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    padding: 5px 10px;
    display: inline;
    vertical-align: middle;
}


#one {
    display: inline;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding: 20px 24vw 20px 0px;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    background-color: #10243B;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);

}

#two {
    display: inline;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding: 20px 24vw 20px 0px;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    background-color: #10243B;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
    

}

#blue {


}
